button{
    font-family: "Comfortaa", sans-serif !important;
    height: 2em;
    border-radius: 1em;
    border-style: none;
    color: white;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    background-color: #6F1A07;
    font-family: "Roboto", serif;
}