@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
td{
    padding: 0.5em;
}
table{
    background-color: #739E82;
    border-radius: 1.5em;
}
input{
    height: 2em;
    text-align: center;
    border-radius: 1em;
    border: 2px solid #6F1A07;
}
button{
    font-family: "Comfortaa", sans-serif !important;
    height: 2em;
    border-radius: 1em;
    border-style: none;
    color: white;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    background-color: #6F1A07;
    font-family: "Roboto", serif;
}

input:invalid{
    color: red;
}