@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto auto auto;
    height: 85vh;
}
#partiteFatte{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#partitefatte>ul{
    word-wrap: break-word; 
    flex-grow: 1;
    max-height: 100%;
    overflow-y: auto;
}
main>div{
    background-color: white;
    padding: 2em;
    padding-top: 1.5em;
    border-radius: 2em;
    margin:3em;
    margin-bottom: 0;
}
#benvenuto>h1{
    margin: 0;
}
#benvenuto{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}
h2{
    font-family: "Comfortaa", sans-serif;
    font-size: 3em;
}
#errori{
    color: white;
}
button{
    padding: 0.5em 1em;
    max-width: fit-content;
    font-family: "Comfortaa", sans-serif;
    border-radius: 2em;
    border-style: none;
    color: white;
    font-size: 1.5em;
    background-color: #EA9010;
    cursor: pointer;
}
#matchmaking{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
}
#gioca{
    font-size: 2.5em;
    border-radius: 3em;
}
#statistiche{
    box-sizing: border-box;
    padding: 4em;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: space-around;
}
#statistiche>div{
    display: table-column;
    font-size: 1.3em;
}
#statistiche>div li{
    margin: 1em;
}