@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 16vh auto auto;
    height: 75vh;
}
main>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: max-content;
    margin: 2.5%;
    border-radius: 3em;
    background-color: white;
}
p{
    margin: 0.25em;
}
#tavola{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding:2em;
    width: fit-content;
    margin: 3% 15%;
}
#mosse{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 91%;
    width: 85%;
    overflow:hidden;
}
#mosse>ol{
    height: 90%;
    overflow-y: auto;
}
#mosse>h2{
    font-family: "Comfortaa", sans-serif;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0.5em;
}
#datiAvversario{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 2%;
    width: 85%;
}
#datiAvversario>p{
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5em;
}
button{
    padding: 0.5em 1em;
    max-width: fit-content;
    font-family: "Comfortaa", sans-serif;
    border-radius: 2em;
    border-style: none;
    color: white;
    width: 100%;
    font-size: 1.5em;
    background-color: #EA9010;
    cursor: pointer;
}
#risultato{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: black;
    color: #EA9010;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
}
button:disabled{
    background-color: rgba(49, 49, 49, 0.877);
    color: rgb(199, 199, 199,0.877);
    cursor: default;
}